/* CSS Reset
   ----------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, ul, li {
	font-weight: normal;
	margin: 0;
	padding:0;
}

a img {
	border: 0 none;
}

/* Generic
   ----------------------------------------------------*/
body {
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	background-color: #E3B024;
	height: 100%;
}

p {
	font-size: 12px;
	line-height: 1.5em;
	color: #220E3D;
}

a {
	color: #E3B024;
	text-decoration: underline;
	font-size: 12px;
}

code {
    background-color: #E7E7E7;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
}

hr {
	margin: 5px 17px 0 17px;
}

/* Active Brothers Images */
.brotherRow {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}

 .brotherThumbnail {
    padding: 7px;
		width: 25%;
		float: left;
 }

 .brotherThumbnail img {
	 height: 185px;
	 width: 145px;
 }

 .brotherThumbnail p {
	 text-align: center;
 }

 @media (min-width: 1200px) and (max-width: 1920px) {
	 .brotherThumbnail {
	    padding: 7px;
			width: 25%;
			float: left;
	 }

	 .brotherThumbnail img {
		 height: 210px;
		 width: 180px;
	 }
 }

 @media (min-width: 200px) and (max-width: 400px) {
	 .brotherThumbnail {
	     width: 45%;
			 margin-left: 2%;
			 margin-right: 2%;
	     float: left;
	 }

	 .brotherThumbnail img {
		 height: 150px;
		 width: 130px;
	 }
 }

 @media (min-width: 500px) and (max-width: 540px) {
	 .brotherThumbnail {
			 width: 33%;
			 padding: 7px;
			 float: left;
	 }

	 .brotherThumbnail img {
		 height: 165px;
		 width: 145px;
	 }
 }

 @media (min-width: 541px) and (max-width: 677px) {
	.brotherThumbnail {
			width: 33%;
			padding: 7px;
			float: left;
	}

	.brotherThumbnail img {
		height: 185px;
		width: 155px;
	}
 }

 @media (min-width: 399px) and (max-width: 499px) {
	.brotherThumbnail {
			width: 33%;
			padding: 7px;
			float: left;
	}

	.brotherThumbnail img {
		height: 150px;
		width: 110px;
	}
 }


/* NavBar */

.navbar-default .navbar-nav>li>a {
    color: white;
}

.pspNavbar {
	background-color: #2D1848;
	border-right: none;
	border-left: none;
	border-color: white;
	border-radius: 0px;
}

/* Header
   ----------------------------------------------------*/

.outer_header {
  background-color: #2D1848;
  min-height: 102px;
  /*width: 100%;*/
  padding-bottom: 120px;
  margin-bottom: -78px;
  border-bottom: 3px solid #FFFFFF;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .header {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .header {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 1170px;
  }
}


.org_title {
	float:left;
	min-height: 102px;
	width: 580px;
}

.org_title h1 {
    color: #FFFFFF;
    font-family: garamond, times;
    text-transform: uppercase;
    font-size: 78px;
	margin-top: 10px;
}

.org_title h2 {
	color: #E3B024;
    font-family: garamond, times;
    text-transform: uppercase;
    font-size: 22px;
	margin-top: -3px;
}

.shield {
	float: left;
	margin-top: 8px;
	margin-left: -10px;
}

.shield img {
  width: 100%;
  margin-right:-38px
}

.org_info {
	text-align:right;
	padding-top: 60px;
}


.org_info h3 {
	color: #FFFFFF;
    font-family: garamond, times;
    font-size: 24px;
	letter-spacing: 1pt;
}

.org_info h4 {
	margin-top: 5px;
	color: #FFFFFF;
  font-family: garamond, times;
  font-size: 18px;
	letter-spacing: 1pt;
}

.content {
	border-radius: 2px;
	background: #F5F0F0;
	margin: 10px auto;
	/*width: 980px;*/
	height: 100%;
  /*height:1071px;*/
}

/*Slider
	---------------------------------------------------*/

.carousel {
	/*width:970px;*/
	/*height:450px;*/
	overflow:hidden;
}

.slider_image {
	width: 98%;
	height: auto;
	max-height: 500px;
	margin-left: auto;
  margin-right: auto;
	padding-top: 5px;
  display: block;
}

.slider {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .slider {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .slider {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .slider {
    width: 1170px;
  }
}

.indexSection {
	border: 2px solid #2D1848;
	border-radius: 5px;
	padding: 7px 5px 5px 5px;
	margin: 10px auto auto 10px;
}

.connectSection {
	text-align: center;
}

.newsSection {
	margin-left: 0px;
  margin-right: 0px;
}

.philanthropySection {
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.newsItem {
	width: 259px;
	height: 100px;
	margin: 30px auto;
	background-color: #2D1848;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #888888;
  display: block;
}

.newsItem a{
	font-size: 14px;
	margin-top: 0px;
	text-decoration: none;
	color: #E3B024;
}

.newsItem img {
	width: 24%;
	float: left;
	margin-left: 3px;
	margin-right: 10px;
}

.philanthropyImg {
		width: 85%;
    border: 1px solid #000;
    border-radius: 5px;
		padding: 5px;
		background: white;
		box-shadow: 2px 2px 1px #888888;
		margin: 20px auto;
		padding: 20px;
		display: block;
}


/* Sidebar */

.sidebar {
	border: 2px solid #2D1848;
	border-radius: 5px;
	padding: 7px 5px 5px 5px;
	margin: 10px 18px auto 10px;
	float: left;
	background: #FFF;
}

.sidebar h1 {
	font-family: garamond, times;
	text-align: center;
	margin: 10px;
	font-size: 23px;
	color: #2D1848;
	font-weight: bold;
}

.sidebar h2 {
	font-family: garamond, times;
	text-align: center;
	margin-top: 25px;
	font-size: 19px;
	color: #2D1848;
	font-weight: bold;
}

.sidebar h3 {
	font-family: garamond, times;
	text-align: center;
	font-size: 12px;
	color: #2D1848;
}


.sidebar p {
	font-family: arial;
	font-size: 10px;
	color: #2D1848;
	margin: 10px 5px 0 5px;
	line-height: 12px;
}

.idebar p a {
	font-family: arial;
	font-size: 10px;
	color: #835F3C;
}

.sidebar p a:hover{
	text-decoration: none;
}

.sidebar ul {
	margin: 10px 10px 0 10px;
	text-align: justify;
	list-style-type: circle;
}

.sidebar li {
	margin: 0 0 0 16px;
	line-height: 20px;
	font-size: 11px;
}

.sidebar li a {
	text-decoration: none;
	line-height: 20px;
	font-size: 11px;
	color: #2D1848;
}

.sidebar li a:hover {
	text-decoration: underline;
	color: #2D1848;
}

.sidebar a {
	color: #2D1848;
	margin: auto;
}

.sidebar a:hover{
	color: #835F3C;
}

.sidebar img {
	width: 100%;
}

.idealBrother {
	padding-right: 0px;
}

.resources {
	padding-right: 0px;
}

.aboutPage > p {
	    margin-top: 10px;
			padding-right: 25px;
			padding-left: 5px;
}

.becomePage > img {
	width: 98%;
	margin-left: 1%;
}

.becomePage > ul {
	margin-left: 20px;
}

.becomePage > p {
	margin-left: 1%;
}

.activePage > img {
	width: 98%;
	margin-left: 1%;
}

.processPage > ul {
	margin-left: 5px;
}

.processPage li {
	list-style-type: none;
}

.processPage a {
	font-size: 10px;
	margin-left: 5px;
	color: #835F3C;
	text-decoration: underline;
}

.processPage > p {
	margin-left: 5px;
}

.highlightPage > p {
	margin-left: 5px;
}

.highlightImage {
	text-align: center;
}

.highlightImage p {
	font-family: garamond,times;
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
}

.pageHeader {
	padding-top: 10px;
	font-family: garamond, times;
	text-transform: uppercase;
	color: #2D1848;
	font-size: 30pt;
	font-weight: bold;
	text-align: center;
}

.innerHeader {
	margin: 25px 0 0 0px;
	font-family: garamond, times;
	text-transform: uppercase;
	color: #2D1848;
	font-size: 20pt;
	font-weight: bold;
  padding-left: 5px;
}

.subInnerHeader {
	margin: 10px 0 0 0;
	color: #2D1848;
	font-size: 12px;
	padding-left: 5px;
}

.broChunk {
  padding-bottom: 10px;
}

.broPanel {
	text-align: center;
}

.broPanel > img {
	/*height: 185px;*/
	/*width: 150px;*/
}

/*Footer */

.footer {
	bottom: 0;
	background: #2D1848;
	clear: both;
	margin-top: 50px;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
}

.footer p {
	margin-left: auto;
    margin-right: auto;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 1.8em;
	text-align: center;
}
